.eassy-item {
    margin: 2rem 2rem 0rem 2rem;
    background: white;
    width: 100%;
    height: fit-content;
}

.item-top {
    display: flex;
    flex-flow: row;
    padding: 20px 30px;
    border-left: 2px solid rgb(77, 77, 77);
    align-items: center;
    justify-content: space-between;
}

.item-body {
    padding: 20px 30px;
    
}

.item-title {
   /* padding: 0 20px; */
   font-size: 1.3rem;
}

.item-date svg {
    padding: 0 5px;
}

.item-date {
    display: flex;
    align-items: center;
}