.sub-containner {
    width: 300px;
    min-width: 300px;
    height: 100vh;
    position: relative;
}

.sub-head-bg {
    position: absolute;
    width: 100%;
    height: 25vh;
    background: rgb(77,77,77)
}

.sub-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sub-head-img {
    display: inline-block;
    border: 1vh solid white;
    margin-top: 15vh;
    border-radius: 100px;
    width: 20vh;
    overflow: hidden;
}

.sub-head-img img {
    width: 20vh;
}

.sub-username {
    text-align: center;
    margin: .67em 0;
    font-family: Roboto,serif;
    font-size: 30px;
    transition: .3s;
}

a,span {
    color: #696969;
    height: 50px;
    line-height: 50px;
}



.sub-intro {
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-home {
    font-size: 14px;
    text-align: center;
}

.sub-about {
    text-align: center;
    font-size: 14px;
    height: 70px;
}

.sub-icon ul {
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sub-icon ul li{
    width: 2em;
    height: 2em;
    list-style: none;
}